*, *:before, *:after {
    box-sizing: border-box;
}
.intro {
    background: green;
}

header {
    width: 50%;
    background: yellow;
    padding: 1em;
    margin: 1em;
    border: 5px solid blue;
    display: inline-block;
}

.summary {
    width: 250px;
    display: inline-block;
}

.preamble {
    float: right;
    width: 400px;
}

.sidebar {
    position: fixed;
    right: 10px;
    top: 10px;
    background: chartreuse;
}
.page-wrapper {
    margin-right: 275px;
}

#zen-supporting {

}

.explanation, .particpation, .benefits, .requirements {

}

footer {

}
